<div class="max-w-md mx-auto mt-10">

  <ion-card class="p-6 rounded-2xl shadow-lg">

    <ion-card-header class="text-center mb-5">
      <ion-card-title>Login</ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="loginForm" (ngSubmit)="submit()" class="space-y-6">

        <!-- EMAIL -->
        <div>
       
          <ion-input
            type="email"
            formControlName="email"
            placeholder="you@email.com"
            label="E-mail" 
            labelPlacement="floating"
            class="border-b border-gray-300 focus:border-blue-500"
          ></ion-input>

          <!-- backend error -->
          <p *ngIf="errors?.email" class="text-danger text-sm mt-1">
            {{ errors?.email }}
          </p>

         
        </div>

        <!-- PASSWORD -->
        <div>
       

          <ion-input
            type="password"
            formControlName="password"
            label="Password" 
            labelPlacement="floating"
            placeholder="••••••••"
            class="border-b border-gray-300 focus:border-blue-500"
          ></ion-input>

          <!-- backend error -->
          <p *ngIf="errors?.password" class="text-danger text-sm mt-1">
            {{ errors?.password }}
          </p>

         
        </div>

         <div class="mb-0"><a [routerLink]="['/auth/reset']" class="text-blue-600">Glemt kodeord?</a></div>

        <!--
        <div class="flex  justify-left text-sm" *ngIf="showRememberMe">

          <ion-checkbox formControlName="rememberMe"></ion-checkbox>

          <span class="ml-2">Husk mig</span>

        </div>
        -->
        


        <!-- BUTTON -->
        <ion-button
          expand="block"
          type="submit"
          [disabled]="loading"
          class="mt-6 h-12 font-semibold"
        >
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Login</span>
        </ion-button>


       
        
        <div class="text-center mb-0"><a routerLink="/auth/register">Opret ny konto</a></div>
        

      </form>

      

    </ion-card-content>

  </ion-card>

</div>