<div class="max-w-lg mx-auto mt-10">

  <ion-card class="p-6 rounded-2xl shadow-lg">

    <ion-card-header class="text-center mb-5">
      <ion-card-title>Nulstil adgangskode</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-6">

        <!-- EMAIL -->
        <div>

          <ion-input
            type="email"
            formControlName="email"
            label="E-mail"
            labelPlacement="floating"
            placeholder="you@email.com"
            class="border-b border-gray-300 focus:border-blue-500"
          ></ion-input>

          <!-- backend error -->
          <p *ngIf="errors?.email" class="text-danger text-sm mt-1">
            {{ errors?.email }}
          </p>

      
        </div>


        <!-- BUTTON -->
        <ion-button
          expand="block"
          type="submit"
          [disabled]="loading"
          class="mt-6 h-12 font-semibold"
        >
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Send reset link</span>
        </ion-button>


      </form>

    </ion-card-content>

  </ion-card>

</div>