<div class="auth-form animate__animated animate__fadeInUp app-animate">
  <header>
    <h1>Velkommen</h1>
    <p>Log ind for at fortsætte til dine forløb, lydbøger og personlige resultater.</p>
  </header>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
  
      <ion-input
        type="email"
        formControlName="email"
        placeholder="dig@email.dk"
        label="E-mail"
        labelPlacement="floating"
         fill="outline" 
      ></ion-input>

      


    <p *ngIf="errors?.email" class="error-text">{{ errors?.email }}</p>

   
      <ion-input
        type="password"
        formControlName="password"
        label="Kodeord"
        labelPlacement="floating"
        placeholder="Indtast kodeord"
        fill="outline" 
      ></ion-input>
   

    <p *ngIf="errors?.password" class="error-text">{{ errors?.password }}</p>

    <ion-button expand="block" type="submit" [disabled]="loading">
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading">Log ind</span>
    </ion-button>

    <a class="forgot-link" [routerLink]="['/auth/reset']">Jeg har glemt mit kodeord</a>
    <a class="register-link" routerLink="/auth/register">Ny bruger? Opret en konto</a>
  </form>
</div>
