<ion-content class="settings-content">
  <section class="settings-shell animate__animated animate__fadeInUp app-animate">
    <section class="section-block">
      <p>Her kan du skifte adgangskode til din konto for at holde profilen sikker.</p>
    </section>

    <form [formGroup]="form" (ngSubmit)="save()" class="settings-form">
      <ion-item lines="none">
        <ion-input type="password" formControlName="password" label="Nyt password" labelPlacement="floating"></ion-input>
      </ion-item>
      <p *ngIf="fieldError()" class="error-text">{{ fieldError() }}</p>

      <ion-button expand="block" type="submit" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent" slot="start"></ion-spinner>
        Skift password
      </ion-button>
    </form>
  </section>
</ion-content>
