<ion-app>
  <ion-menu *ngIf="!hideRootMenu" contentId="main-content" menuId="main-menu" side="start">
    <div class="menu-header">
      <strong>MENU</strong>
      <ion-menu-toggle autoHide="true">
        <ion-button class="menu-close" fill="clear" type="button" aria-label="Luk menu" (click)="closeMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </div>

    <ion-content>
      <ion-list lines="none" class="app-menu-list">
        <ion-menu-toggle autoHide="true">
          <ion-item detail="false" routerLink="/home/dashboard" routerLinkActive="selected">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Forside</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item detail="false" routerLink="/audiobook" routerLinkActive="selected">
            <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
            <ion-label>Lydbøger</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item detail="false" routerLink="/videos" [queryParams]="{ category_id: 1, index: 0 }" routerLinkActive="selected">
            <ion-icon name="play-circle-outline" slot="start"></ion-icon>
            <ion-label>Meditation</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item detail="false" routerLink="/videos" [queryParams]="{ category_id: 4, index: 0 }" routerLinkActive="selected">
            <ion-icon name="refresh-outline" slot="start"></ion-icon>
            <ion-label>Vejrtrækning</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item detail="false" routerLink="/videos" [queryParams]="{ category_id: 2, index: 0 }" routerLinkActive="selected">
            <ion-icon name="play-circle-outline" slot="start"></ion-icon>
            <ion-label>Udstrækning</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item detail="false" routerLink="/videos" [queryParams]="{ category_id: 3, index: 0 }" routerLinkActive="selected">
            <ion-icon name="time-outline" slot="start"></ion-icon>
            <ion-label>Perfekt morgen</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list lines="none" class="app-menu-list app-menu-footer">
        <ion-menu-toggle autoHide="true">
          <ion-item *ngIf="auth.token(); else loginLink" button detail="false" (click)="logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log af</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ng-template #loginLink>
          <ion-menu-toggle autoHide="true">
            <ion-item button detail="false" routerLink="/auth/login">
              <ion-icon name="log-in-outline" slot="start"></ion-icon>
              <ion-label>Log ind</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-template>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-loading [isOpen]="loggingOut" message="Logger af..."></ion-loading>
  <ion-router-outlet id="main-content" [animated]="false"></ion-router-outlet>
</ion-app>
