<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons *ngIf="!isWelcome" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Kunsten at tæmme en tiger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar *ngIf="!isWelcome" slot="bottom">
    <ion-tab-button type="button" (click)="navigate('/home/dashboard')" [class.tab-selected]="currentUrl.startsWith('/home')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Forside</ion-label>
    </ion-tab-button>

    <ion-tab-button type="button" (click)="navigate('/results')" [class.tab-selected]="currentUrl.startsWith('/results')">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Statistik</ion-label>
    </ion-tab-button>

    <ion-tab-button type="button" (click)="navigate('/audiobook')" [class.tab-selected]="currentUrl.startsWith('/audiobook')">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Lydbøger</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
